/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:700,300);

$blue: #0496d2;
$lighter-blue: #1e82b5;
$dark-gray: #302b30;
$bright-green: #6bfa09;
$green: #6cb520;
$dark-green: #56c808;
$white: #fff;
$dark-text: #333;

body {
    background-color: $blue;
}

.wedge {
    position: absolute;
    right: 0;
    left: 0;
    height: 53px;

    background-size: 100% 100%;

    &.down {
        bottom: -53px;

        &.blue {
            background-image: url("../images/triangle-blue-down.png");
        }
        &.white {
            background-image: url("../images/triangle-white-down.png");
        }
        &.green {
            background-image: url("../images/triangle-green-down.png");
        }
    }
    &.up {
        top: -53px;

        &.blue {
            background-image: url("../images/triangle-blue-up.png");
        }
        &.white {
            background-image: url("../images/triangle-white-up.png");
        }
        &.green {
            background-image: url("../images/triangle-green-up.png");
        }
    }
}

.orb {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

    &.blue {
        background-image: url("../images/orb-blue.png");

        &.fuzzy {
            background-image: url("../images/orb-blue-fuzzy.png");
        }
    }

    &.green {
        background-image: url("../images/orb-green.png");

        &.fuzzy {
            background-image: url("../images/orb-green-fuzzy.png");
        }
    }

    &.reversed {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph; /*IE*/
        filter: fliph;
    }
}


header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    height: 39px;
    padding: 16px 0 0;
    background-color: $blue;
    -webkit-transition: top 0.3s; /* For Safari 3.1 to 6.0 */
    transition: top 0.3s;

    &.collapsed {
        top: -76px;
    }

    &.big-head {
        h1 {
            // dimensions: 667x187, height aspect ratio: 28.04%
            width: 60%;
            height: 0;
            padding-bottom: 16.82%;
            margin: 280px auto 0;
        }
    }

    h1 {
        position: relative;
        margin: 0 auto;
        width: 198px;
        height: 59px;
        -webkit-transition: margin 0.2s, padding 0.2s, width 0.2s, height 0.2s; /* For Safari 3.1 to 6.0 */
        transition: margin 0.2s, padding 0.2s, width 0.2s, height 0.2s;

        a {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-image: url("../images/AgileOrbit_Logo.svg");
            background-size: contain;
            background-repeat: no-repeat;
            white-space: nowrap;
            text-indent: 100%;
            overflow: hidden;

        }
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    nav {
        position: absolute;
        top: 43px;
        left: 50%;
        width: 620px;
        margin: 0 0 0 -310px;

        a {
            display: block;
            float: left;
            margin: 0 25px 0 0;
            font-family: MyriadPro, sans-serif;
            color: $white;
            font-size: 13px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 100;
            -webkit-transition: color 0.3s; /* For Safari 3.1 to 6.0 */
            transition: color 0.3s;

            &.right {
                float: right;
                margin: 0 0 0 25px;
            }

            &:hover {
                color: $dark-gray;
            }
        }
    }

}

.phone {
    z-index: 0;
    position: fixed;
    height: 766px;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../images/background-1-mobile.jpg");
    background-size: cover;
    background-position: center 0;
    -webkit-transition: top 0s; /* For Safari 3.1 to 6.0  */
    transition: top 0s;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition: background-color 0.3s; /* For Safari 3.1 to 6.0 */
        transition: background-color 0.3s;
    }

    &.shaded {
        &:after {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

.bring-to-life {
    position: relative;
    z-index: 1;
    margin: 766px 0 0;
    background-color: $blue;
    padding: 25px 0;

    h2 {
        font-family: 'Advent Pro', sans-serif;
        font-weight: 700;
        color: $bright-green;
        font-size: 24px;
        width: 900px;
        margin: 0 auto;
        position: relative;

        strong {
            font-weight: 300;
            color: $white;
            font-size: 42px;
        }

        &:after {
            content: "";
            position: absolute;
            top: -62px;
            right: -30px;
            background-image: url("../images/astro-head.png");
            width: 359px;
            height: 366px;
        }
    }
}

.what-is-agile {
    position: relative;
    z-index: 0;
    height: 687px;
    overflow: hidden;

    div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 687px;
        background-image: url("../images/background-2-Coffee.jpg");
        background-size: cover;
        background-position: center center;
    }

    h3 {
        font-family: 'Advent Pro', sans-serif;
        font-weight: 300;
        color: $white;
        font-size: 32px;
        margin: 160px auto 0;
        min-width: 400px;
    }

    p {
        font-family: MyriadPro, sans-serif;
        color: $white;
        margin: 25px auto 0;
        font-size: 18px;
        font-weight: 100;
        min-width: 400px;
        line-height: 1.4;
    }
}

.atoms {
    position: relative;
    z-index: 1;
    height: 236px;
    background-color: $white;

    &:after {
        content: "";
        position: absolute;
        top: -30px;
        right: -155px;
        margin: 0 50%;
        background-image: url("../images/orbit.png");
        width: 310px;
        height: 298px;
    }
}

.technology {
    position: relative;
    z-index: 0;
    background-color: $lighter-blue;
    height: 875px;
    overflow: hidden;
    padding: 200px 0 0;

    p {
        width: 700px;
        margin: 12px auto;
        font-family: MyriadPro, sans-serif;
        color: $white;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.3;
    }

    h3 {
        position: absolute;
        top: 450px;
        left: 50%;
        margin: 0 0 0 -350px;
        font-family: 'Advent Pro', sans-serif;
        font-weight: 300;
        color: $white;
        width: 700px;
        height: 298px;
        line-height: 298px;
        font-size: 90px;
        text-align: center;
        text-transform: uppercase;
        background-image: url("../images/satellite.png");
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.development {
    position: relative;
    background-color: $green;
    z-index: 2;

    h3 {
        position: relative;
        margin: 0 0 0 50%;
        width: 525px;
        left: -100px;
        font-family: 'Advent Pro', sans-serif;
        font-weight: 300;
        color: $white;
        font-size: 32px;

        &:after {
            content: "";
            position: absolute;
            top: -50px;
            left: -227px;
            background-image: url("../images/java-orbit.png");
            width: 202px;
            height: 261px;
        }
    }

    p {
        position: relative;
        margin: 30px 0 0 50%;
        width: 525px;
        left: -100px;
        font-family: MyriadPro, sans-serif;
        color: $white;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.3;
    }
}

.web-applications {
    position: relative;
    z-index: 1;
    padding: 130px 0 77px;
    background-color: $white;

    h3 {
        position: relative;
        margin: 0 auto;
        width: 700px;
        text-align: center;
        font-family: 'Advent Pro', sans-serif;
        font-weight: 300;
        color: $dark-text;
        font-size: 38px;
    }

    p {
        font-family: MyriadPro, sans-serif;
        color: $dark-text;
        font-size: 16px;
        font-weight: 100;
        line-height: 1.3;
        width: 700px;
        margin: 30px auto 0;
    }

    ul {
        overflow: hidden;
        width: 900px;
        margin: 30px auto;
        position: relative;

        li {
            position: relative;
            float: left;
            width: 300px;
        }

        p {
            width: auto;
            margin: 0 30px;
            text-align: center;
        }
    }

    h4 {
        background-repeat: no-repeat;
        background-position: center center;
        height: 105px;
        margin: 0 0 30px;
        white-space: nowrap;
        text-indent: 100%;
        overflow: hidden;
    }

    .grails {
        background-image: url("../images/grails.png");
    }
    .groovy {
        background-image: url("../images/groovy.png");
    }
    .java {
        background-image: url("../images/java.png");
    }
    .ios {
        background-image: url("../images/apple.png");
    }
    .android {
        background-image: url("../images/android.png");
    }
    .phone-gap {
        background-image: url("../images/phone-gap.png");
    }
    .chef {
        background-image: url("../images/chef.png");
    }
    .git {
        background-image: url("../images/git.png");
    }
    .jeeves {
        background-image: url("../images/jeeves.png");
    }
}

.about-us {
    position: relative;
    z-index: 0;
    background-color: $dark-gray;
    overflow: hidden;
    padding: 0 0 74px;

    h3 {
        font-family: 'Advent Pro', sans-serif;
        font-weight: 300;
        color: $white;
        margin: 160px auto 90px;
        font-size: 90px;
        text-align: center;
        text-transform: uppercase;
    }

    h4 {
        width: 300px;
        height: 300px;
        white-space: nowrap;
        text-indent: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 10px;
    }

    .bobby-warner {
        background-image: url("../images/agileorbit-bobbywarner-300px.jpg");
    }

    .cory-tranby {
        background-image: url("../images/agileorbit-corytranby-300px.jpg");
    }

    .eric-helgeson {
        background-image: url("../images/agileorbit-erichelgeson-300px.jpg");
    }

    ul {
        position: relative;
        overflow: hidden;
        width: 900px;
        margin: 0 auto;
    }

    li {
        position: relative;
        padding: 0 0 34px;
        overflow: hidden;
        min-height: 300px;

        &:nth-child(2) {
            padding: 0 0 34px 325px;

            h4 {
                left: 0;
            }
        }
    }

    p {
        font-family: MyriadPro, sans-serif;
        color: $white;
        font-weight: 100;
        line-height: 1.3;
        font-size: 16px;
        width: 575px;
    }

    a {
        display: block;
        font-family: 'Advent Pro', sans-serif;
        font-weight: 300;
        color: $white;
        margin: 32px 0;
        font-size: 42px;
        width: 575px;
    }
}

footer {
    position: relative;
    padding: 1px 0 0;
    background-color: $white;

    h3 {
        font-family: 'Advent Pro', sans-serif;
        font-weight: 300;
        color: $dark-text;
        margin: 160px auto 90px;
        font-size: 90px;
        text-align: center;
        text-transform: uppercase;
    }

    p {
        position: relative;
        font-family: MyriadPro, sans-serif;
        color: $dark-text;
        font-weight: 100;
        line-height: 1.3;
        font-size: 18px;
        width: 640px;
        padding: 0 190px 0 0;
        margin: 0 auto 35px;

        &:after {
            top: 55px;
            right: 0;
            content: "";
            position: absolute;
            background-image: url("../images/telescope.png");
            width: 176px;
            height: 158px;
        }
    }

    ul {
        width: 830px;
        margin: 0 auto;
    }

    li {
        font-family: 'Advent Pro', sans-serif;
        font-weight: 300;
        color: $dark-text;
        font-size: 42px;

        span {
            display: inline-block;
            width: 125px;
        }

        a {
            font-family: 'Advent Pro', sans-serif;
            font-weight: 700;
            color: $bright-green;
            font-size: 24px;
            width: 900px;
            margin: 0 auto;
            position: relative;
            text-decoration: none;
            -webkit-transition: color 0.3s; /* For Safari 3.1 to 6.0 */
            transition: color 0.3s;

            &:hover {
                color: $dark-green;
            }
        }
    }
}

@media (min-width: 915px) and (max-width: 976px) {
    .bring-to-life {
        h2:after {
            width: 300px;
            height: 300px;
            right: 0;
            background-size: contain;
            background-repeat: no-repeat;
            top: -35px;
        }
    }
}

@media (max-width: 914px) {
    .wedge {
        height: 10px;

        &.down {
            bottom: -10px;
        }
        &.up {
            top: -10px;
        }
    }

    header {
        height: 112px;
        padding: 6px 0 0;

        &.collapsed {
            top: -118px;
        }

        .desktop {
            display: none;
        }

        .mobile {
            display: block;
        }

        nav {
            width: 100%;
            top: 65px;
            left: 0;
            margin: 0;

            div {
                width: 50%;
                float: left;

                &.right {
                    float: right;
                }
            }

            a {
                float: none;
                font-size: 14px;
                padding: 2px 0;
                margin: 0 auto 10px;
                text-align: center;
                overflow: hidden;

                &.right {
                    float: none;
                    margin: 20px auto 0;
                }
            }
        }
    }

    .phone {
        position: absolute;
        height: auto;
        background-image: url("../images/background-1-mobileblur-mobile.jpg");
    }

    .bring-to-life {
        h2 {
            width: auto;
            margin: 0 10%;
            text-align: center;
            font-size: 18px;

            strong {
                font-size: 24px;
            }

            &:after {
                display: none;
            }
        }
    }

    .what-is-agile {
        div {
            background-image: url("../images/background-2-Coffee-mobile.jpg");
        }

        h3 {
            font-size: 28px;
            margin: 160px auto 0;
            width: auto;
            min-width: 0;
            padding: 0 10%;
        }

        p {
            width: auto;
            min-width: 0;
            padding: 0 10%;
            font-size: 14px;
            margin: 15px 0 0;
        }
    }

    .technology {
        height: auto;
        background-image: url("../images/satellite.png");
        background-position: center center;
        background-repeat: no-repeat;
        padding: 0 0 25px;

        p {
            width: auto;
            margin: 0 10% 25px;
            text-align: center;
        }

        h3 {
            font-size: 28px;
            position: relative;
            top: auto;
            left: auto;
            width: auto;
            margin: 65px 10% 45px;
            background-image: none;
            height: auto;
            line-height: 1;
        }
    }

    .development {
        padding: 285px 0 25px;

        h3 {
            font-size: 28px;
            width: auto;
            left: auto;
            margin: 0 10% 35px;
            text-align: center;
            line-height: 1.3;

            &:after {
                top: -275px;
                left: 50%;
                margin: 0 0 0 -101px;
            }
        }

        p {
            margin: 0 10%;
            width: auto;
            left: auto;
            text-align: center;
        }
    }

    .web-applications {
        padding: 50px 0 25px;

        h3 {
            margin: 0 10%;
            width: auto;
            font-size: 28px;
            line-height: 1.3;
        }

        p {
            margin: 15px 10%;
            width: auto;
            text-align: center;
        }

        ul {
            width: auto;
            margin: 0 10% 60px;

            li {
                float: none;
                width: auto;
                margin: 15px 0;
            }
        }
    }

    .about-us {
        h3 {
            width: auto;
            margin: 50px 10% 25px;
            font-size: 28px;
        }

        h4 {
            width: 90%;
            max-width: 300px;
            margin: 0 auto;
            top: auto;
            right: auto;
            position: relative;
        }

        ul {
            width: auto;
            margin: 0 10%;
        }

        li {
            min-height: 0;

            &:nth-child(2) {
                padding: 0 0 34px;

                h4 {
                    left: auto;
                }
            }
        }

        p {
            width: auto;
            margin: 25px 0 0;
        }

        a {
            margin: 32px 0;
            width: auto;
            font-size: 28px;
        }
    }

    footer {
        margin: 0 0 -10px;

        h3 {
            font-size: 28px;
            margin: 50px auto 25px;
        }

        p {
            text-align: center;
            width: auto;
            margin: 0 10% 25px;
            padding: 0;
            font-size: 16px;

            &:after {
                display: none;
            }
        }

        ul {
            width: auto;
            margin: 0 10%;
        }

        li {
            span {
                display: block;
                width: auto;
                margin: 0 auto 10px;
                text-align: center;
                font-size: 24px;
            }

            a {
                display: block;
                width: auto;
                margin: 0 auto 10px;
                text-align: center;
                font-size: 18px;
            }
        }
    }
}
