/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:700,300);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.scss */
.wedge {
  position: absolute;
  right: 0;
  left: 0;
  height: 53px;
  background-size: 100% 100%;
}
/* line 26, ../sass/screen.scss */
.wedge.down {
  bottom: -53px;
}
/* line 29, ../sass/screen.scss */
.wedge.down.blue {
  background-image: url("../images/triangle-blue-down.png");
}
/* line 32, ../sass/screen.scss */
.wedge.down.white {
  background-image: url("../images/triangle-white-down.png");
}
/* line 35, ../sass/screen.scss */
.wedge.down.green {
  background-image: url("../images/triangle-green-down.png");
}
/* line 39, ../sass/screen.scss */
.wedge.up {
  top: -53px;
}
/* line 42, ../sass/screen.scss */
.wedge.up.blue {
  background-image: url("../images/triangle-blue-up.png");
}
/* line 45, ../sass/screen.scss */
.wedge.up.white {
  background-image: url("../images/triangle-white-up.png");
}
/* line 48, ../sass/screen.scss */
.wedge.up.green {
  background-image: url("../images/triangle-green-up.png");
}

/* line 54, ../sass/screen.scss */
.orb {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 59, ../sass/screen.scss */
.orb.blue {
  background-image: url("../images/orb-blue.png");
}
/* line 62, ../sass/screen.scss */
.orb.blue.fuzzy {
  background-image: url("../images/orb-blue-fuzzy.png");
}
/* line 67, ../sass/screen.scss */
.orb.green {
  background-image: url("../images/orb-green.png");
}
/* line 70, ../sass/screen.scss */
.orb.green.fuzzy {
  background-image: url("../images/orb-green-fuzzy.png");
}
/* line 75, ../sass/screen.scss */
.orb.reversed {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  filter: fliph;
}

/* line 86, ../sass/screen.scss */
header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 39px;
  padding: 16px 0 0;
  background-color: #0496d2;
  -webkit-transition: top 0.3s;
  /* For Safari 3.1 to 6.0 */
  transition: top 0.3s;
}
/* line 98, ../sass/screen.scss */
header.collapsed {
  top: -76px;
}
/* line 103, ../sass/screen.scss */
header.big-head h1 {
  width: 60%;
  height: 0;
  padding-bottom: 16.82%;
  margin: 280px auto 0;
}
/* line 112, ../sass/screen.scss */
header h1 {
  position: relative;
  margin: 0 auto;
  width: 198px;
  height: 59px;
  -webkit-transition: margin 0.2s, padding 0.2s, width 0.2s, height 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: margin 0.2s, padding 0.2s, width 0.2s, height 0.2s;
}
/* line 120, ../sass/screen.scss */
header h1 a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/agile-orbit-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
/* line 138, ../sass/screen.scss */
header nav {
  position: absolute;
  top: 43px;
  left: 50%;
  width: 620px;
  margin: 0 0 0 -310px;
}
/* line 145, ../sass/screen.scss */
header nav a {
  display: block;
  float: left;
  margin: 0 25px 0 0;
  font-family: MyriadPro, sans-serif;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  -webkit-transition: color 0.3s;
  /* For Safari 3.1 to 6.0 */
  transition: color 0.3s;
}
/* line 158, ../sass/screen.scss */
header nav a.right {
  float: right;
  margin: 0 0 0 25px;
}
/* line 163, ../sass/screen.scss */
header nav a:hover {
  color: #302b30;
}

/* line 171, ../sass/screen.scss */
.phone {
  z-index: 0;
  position: fixed;
  height: 766px;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../images/background-1-mobile.jpg");
  background-size: cover;
  background-position: center 0;
  -webkit-transition: top 0s;
  /* For Safari 3.1 to 6.0  */
  transition: top 0s;
}
/* line 184, ../sass/screen.scss */
.phone:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  /* For Safari 3.1 to 6.0 */
  transition: background-color 0.3s;
}
/* line 197, ../sass/screen.scss */
.phone.shaded:after {
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 203, ../sass/screen.scss */
.bring-to-life {
  position: relative;
  z-index: 1;
  margin: 766px 0 0;
  background-color: #0496d2;
  padding: 25px 0;
}
/* line 210, ../sass/screen.scss */
.bring-to-life h2 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  color: #6bfa09;
  font-size: 24px;
  width: 900px;
  margin: 0 auto;
  position: relative;
}
/* line 219, ../sass/screen.scss */
.bring-to-life h2 strong {
  font-weight: 300;
  color: #fff;
  font-size: 42px;
}
/* line 225, ../sass/screen.scss */
.bring-to-life h2:after {
  content: "";
  position: absolute;
  top: -62px;
  right: -30px;
  background-image: url("../images/astro-head.png");
  width: 359px;
  height: 366px;
}

/* line 237, ../sass/screen.scss */
.what-is-agile {
  position: relative;
  z-index: 0;
  height: 687px;
  overflow: hidden;
}
/* line 243, ../sass/screen.scss */
.what-is-agile div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 687px;
  background-image: url("../images/background-2-Coffee.jpg");
  background-size: cover;
  background-position: center center;
}
/* line 254, ../sass/screen.scss */
.what-is-agile h3 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 32px;
  margin: 160px auto 0;
  min-width: 400px;
}
/* line 263, ../sass/screen.scss */
.what-is-agile p {
  font-family: MyriadPro, sans-serif;
  color: #fff;
  margin: 25px auto 0;
  font-size: 18px;
  font-weight: 100;
  min-width: 400px;
  line-height: 1.4;
}

/* line 274, ../sass/screen.scss */
.atoms {
  position: relative;
  z-index: 1;
  height: 236px;
  background-color: #fff;
}
/* line 280, ../sass/screen.scss */
.atoms:after {
  content: "";
  position: absolute;
  top: -30px;
  right: -155px;
  margin: 0 50%;
  background-image: url("../images/orbit.png");
  width: 310px;
  height: 298px;
}

/* line 292, ../sass/screen.scss */
.technology {
  position: relative;
  z-index: 0;
  background-color: #1e82b5;
  height: 875px;
  overflow: hidden;
  padding: 200px 0 0;
}
/* line 300, ../sass/screen.scss */
.technology p {
  width: 700px;
  margin: 12px auto;
  font-family: MyriadPro, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.3;
}
/* line 310, ../sass/screen.scss */
.technology h3 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 25px auto 0;
  width: 700px;
  height: 298px;
  line-height: 298px;
  font-size: 90px;
  text-align: center;
  text-transform: uppercase;
  background-image: url("../images/satellite.png");
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 327, ../sass/screen.scss */
.development {
  position: relative;
  background-color: #6cb520;
}
/* line 331, ../sass/screen.scss */
.development h3 {
  position: relative;
  margin: 0 0 0 50%;
  width: 525px;
  left: -100px;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 32px;
}
/* line 341, ../sass/screen.scss */
.development h3:after {
  content: "";
  position: absolute;
  top: -50px;
  left: -227px;
  background-image: url("../images/java-orbit.png");
  width: 202px;
  height: 261px;
}
/* line 352, ../sass/screen.scss */
.development p {
  position: relative;
  margin: 30px 0 0 50%;
  width: 525px;
  left: -100px;
  font-family: MyriadPro, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.3;
}

/* line 365, ../sass/screen.scss */
.web-applications {
  position: relative;
  z-index: 1;
  padding: 130px 0 77px;
}
/* line 370, ../sass/screen.scss */
.web-applications h3 {
  position: relative;
  margin: 0 auto;
  width: 700px;
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 38px;
}
/* line 381, ../sass/screen.scss */
.web-applications p {
  font-family: MyriadPro, sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.3;
  width: 700px;
  margin: 30px auto 0;
}
/* line 391, ../sass/screen.scss */
.web-applications ul {
  overflow: hidden;
  width: 900px;
  margin: 30px auto;
  position: relative;
}
/* line 397, ../sass/screen.scss */
.web-applications ul li {
  position: relative;
  float: left;
  width: 300px;
}
/* line 403, ../sass/screen.scss */
.web-applications ul p {
  width: auto;
  margin: 0 30px;
  text-align: center;
}
/* line 410, ../sass/screen.scss */
.web-applications h4 {
  background-repeat: no-repeat;
  background-position: center center;
  height: 105px;
  margin: 0 0 30px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
/* line 420, ../sass/screen.scss */
.web-applications .grails {
  background-image: url("../images/grails.png");
}
/* line 423, ../sass/screen.scss */
.web-applications .groovy {
  background-image: url("../images/groovy.png");
}
/* line 426, ../sass/screen.scss */
.web-applications .java {
  background-image: url("../images/java.png");
}
/* line 429, ../sass/screen.scss */
.web-applications .ios {
  background-image: url("../images/apple.png");
}
/* line 432, ../sass/screen.scss */
.web-applications .android {
  background-image: url("../images/android.png");
}
/* line 435, ../sass/screen.scss */
.web-applications .phone-gap {
  background-image: url("../images/phone-gap.png");
}
/* line 438, ../sass/screen.scss */
.web-applications .chef {
  background-image: url("../images/chef.png");
}
/* line 441, ../sass/screen.scss */
.web-applications .git {
  background-image: url("../images/git.png");
}
/* line 444, ../sass/screen.scss */
.web-applications .jeeves {
  background-image: url("../images/jeeves.png");
}

/* line 449, ../sass/screen.scss */
.about-us {
  position: relative;
  z-index: 0;
  background-color: #302b30;
  overflow: hidden;
  padding: 0 0 74px;
}
/* line 456, ../sass/screen.scss */
.about-us h3 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 160px auto 90px;
  font-size: 90px;
  text-align: center;
  text-transform: uppercase;
}
/* line 466, ../sass/screen.scss */
.about-us h4 {
  width: 300px;
  height: 300px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
}
/* line 478, ../sass/screen.scss */
.about-us .bobby-warner {
  background-image: url("../images/agileorbit-bobbywarner-300px.jpg");
}
/* line 482, ../sass/screen.scss */
.about-us .cory-tranby {
  background-image: url("../images/agileorbit-corytranby-300px.jpg");
}
/* line 486, ../sass/screen.scss */
.about-us .eric-helgeson {
  background-image: url("../images/agileorbit-erichelgeson-300px.jpg");
}
/* line 490, ../sass/screen.scss */
.about-us ul {
  position: relative;
  overflow: hidden;
  width: 900px;
  margin: 0 auto;
}
/* line 497, ../sass/screen.scss */
.about-us li {
  position: relative;
  padding: 0 0 34px;
  overflow: hidden;
  min-height: 300px;
}
/* line 503, ../sass/screen.scss */
.about-us li:nth-child(2) {
  padding: 0 0 34px 325px;
}
/* line 506, ../sass/screen.scss */
.about-us li:nth-child(2) h4 {
  left: 0;
}
/* line 512, ../sass/screen.scss */
.about-us p {
  font-family: MyriadPro, sans-serif;
  color: #fff;
  font-weight: 100;
  line-height: 1.3;
  font-size: 18px;
  width: 575px;
}
/* line 521, ../sass/screen.scss */
.about-us a {
  display: block;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 32px 0;
  font-size: 42px;
  width: 575px;
}

/* line 532, ../sass/screen.scss */
footer {
  position: relative;
  padding: 1px 0 0;
}
/* line 536, ../sass/screen.scss */
footer h3 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  color: #333;
  margin: 160px auto 90px;
  font-size: 90px;
  text-align: center;
  text-transform: uppercase;
}
/* line 546, ../sass/screen.scss */
footer p {
  position: relative;
  font-family: MyriadPro, sans-serif;
  color: #333;
  font-weight: 100;
  line-height: 1.3;
  font-size: 24px;
  width: 640px;
  padding: 0 190px 0 0;
  margin: 0 auto 35px;
}
/* line 557, ../sass/screen.scss */
footer p:after {
  top: 55px;
  right: 0;
  content: "";
  position: absolute;
  background-image: url("../images/telescope.png");
  width: 176px;
  height: 158px;
}
/* line 568, ../sass/screen.scss */
footer ul {
  width: 830px;
  margin: 0 auto;
}
/* line 573, ../sass/screen.scss */
footer li {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 42px;
}
/* line 579, ../sass/screen.scss */
footer li span {
  display: inline-block;
  width: 125px;
}
/* line 584, ../sass/screen.scss */
footer li a {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  color: #6bfa09;
  font-size: 24px;
  width: 900px;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  /* For Safari 3.1 to 6.0 */
  transition: color 0.3s;
}
/* line 596, ../sass/screen.scss */
footer li a:hover {
  color: #56c808;
}

@media (min-width: 915px) and (max-width: 976px) {
  /* line 605, ../sass/screen.scss */
  .bring-to-life h2:after {
    width: 300px;
    height: 300px;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    top: -35px;
  }
}
/*
@media (max-width: 914px) {
    header {
        height: 229px;

        nav {
            width: 100%;
            top: 95px;
            left: 0;
            margin: 0;

            a {
                float: none;
                font-size: 14px;
                padding: 2px 0;
                margin: 20px auto 0;
                text-align: center;
                overflow: hidden;

                &.right {
                    float: none;
                    margin: 20px auto 0;
                }
            }
        }
    }
}
*/
